# Archivos compilados
build/
dist/
*.class
*.jar
*.war

# Excepción: permitir JARs locales en lib/
!lib/*.jar

# Archivos de NetBeans
nbproject/private/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
/nbproject/
/target/
